.ConnectFourGame {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.ConnectFourGameBody {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
  
.ConnectFourGame-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} 
  
.ConnectFourGame-link {
    color: #61dafb;
}

body {
    font-size: calc(10px + 2vmin);
    /* font-size: calc(5px + 2vmin); */
}

.clear {
    clear: both;
    content: "";
}

.cell {
    background: #7b7b7b;
    border: 1px solid #fff;
    float: left;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.column-selector {
    background: rgb(230, 229, 229);
    border: 1px solid #fff;
    float: left;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    border-radius: 5px;
    font-weight: 600;
}

.column-selector .column-selector-text {
    visibility: hidden;
    background: transparent;
    border: 1px solid #fff;
    float: left;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    border-radius: 5px;
    font-weight: 600;
}

.column-selector:hover .column-selector-text {
    visibility: visible;
    font-size: calc(10px + 2vmin);
}

.checker {
    transition: transform 1s;
    font-size: calc(10px + 2vmin);
}

.checker.checker-falling {
    visibility: visible;
}